header {
    padding: 10px;
}

.center {
    margin: auto;
}

.padding-center {
    padding-left: 90px;
}

a.active {
    color: black;
    pointer-events: none;
    font-weight: bold;
}


.row-center {
    margin: auto;
    text-align: center;
}

a {
    padding-left: 6px;
    padding-right: 6px;
}