#q {
    max-width: 460px;
    width: 460px;
}

.sub-container {
    padding-top: 20px;
}

#div-results {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.result-item {
    display: block;
}