<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golgol | {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block css %}{% endblock css %}
</head>
<body>
    {% set message = pop_cookie('message') %}
    <div class="container">
        <header class="row justify-content-center center">
            <a href="{{url('index')}}" class="" path={{url('index')}}>Index</a>
            <span>|</span>
            <a href="{{url('search')}}" class="" path={{url('search')}}>Search</a>
        </header>

        {% block content %}
        {% endblock content %}
    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    {% block js %}{% endblock js %}
</body>
</html>