{% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock css %}


{% block content %}
<div class="sub-container">
    <form method="POST" action="{{ url('do_index') }}">
        <div class="row justify-content-center">
            {% if request.GET.get('q') %}
            <input type="url" name="q" id="q" required value="{{request.GET.get('q')}}" class="form-control">
            {% else %}
            <input type="url" name="q" id="q" required placeholder="http://example.com" class="form-control">
            {% endif %}
        </div>
        <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Index</button>
                <a href="{{ url('clear') }}" class="btn btn-warning">Clear</a>
        </div>
    </form>
</div>


{% if message %}
<div class="row justify-content-center" style="padding-top: 40px; margin-left:-60px;">
    <div class="message" id="message">
        {{ message }}
    </div>
</div>
{% endif %}


{% endblock content %}


{% block js %}
<script src="/static/js/index.js"></script>
{% endblock js %}
