{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/static/css/search.css">
{% endblock css %}


{% block content %}
<div class="sub-container">
    <form method="GET" action="{{ url('search') }}" class="form-inline">
        <div class="form-row center">
            {% if request.GET.get('q') %}
            <input type="text" name="q" id="q" placeholder="Search..." class="form-control" value="{{request.GET.get('q')}}">
            {% else %}
            <input type="text" name="q" id="q" placeholder="Search..." class="form-control">
            {% endif %}
            <input type="submit" value="Search" class="form-control btn btn-success sm">
        </div>
    </form>
</div>

{% if count >= 0 %}
<div class="sub-container" id="div-results">
    <div class="row">
        <p>Found {{ count }} results.</p>
    </div>
    
    {% for site in sites  %}
    <div class="row result-item">
        <a href="{{ site.url }}" target="_blank">{{ site.title }}</a><br>
        <p>Occurrences: <span>{{ site.words[0].count }}</span></p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}


{% block js %}
<script src="/static/js/search.js"></script>
{% endblock js %}
